.dateWrapper {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.775);
  color: #fff;
  text-align: center;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  min-width: 300px;
  width: auto;
  padding-left: 32px;
  padding-right: 30px;
  background-color: transparent;
  outline: 1px solid grey;
  border-radius: 5px;
}

.timeZoneSelector{
  border-radius: 5px;
}